.chakra-ui-light{
    padding: 1.5%;
    width: 100%;
    height: 100%;
}

.css-7d41gt, .css-11bj680, .css-cscco{
    border-radius: 5px;
}

.css-1xhq01z{
    justify-content: center;
}

.css-19lo6pj{
    margin-top: 3.5%;
    padding: 5%;
    justify-content: center;
    display: flex;
}

.css-1xhq01z{
    border-bottom: none;
}